.footer_section {
    margin: 0;
    padding: 20px;
    background: #fe8709;
    display: flex;
    align-content: center;
    justify-content: center;

    p {
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        margin: 0;
    }
}