button{
    background: #fe8709;
    color: #fff;
    border: none;
    padding: 7px 10px;
    border-radius: 7px;
    cursor: pointer;
}

.count-btn{
    background: #fe8709;
    color: #fff;
    border: none;
    padding: 7px 10px;
    border-radius: 7px;
    cursor: pointer;
    width: 40px;
}